main{
    min-height: 100vh;
    width: 100%;
    position: relative;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 20px;
    overflow-y: scroll;
    max-height: 100vh;
}

.mask{
    background:white;
}
.header__btn{
    background-color: floralwhite;
}
.header__btn-img{
    width: 40px;
    height: 40px;
}